* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Marmelad', sans-serif;
}
body {
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}
.back-to-top {
    display: none;
}

.line {
    margin: 0 auto;
    width: 100%;
    max-width: 80%;
    height: 5px;
    border-radius: 30px;
    animation: background 3s infinite; 
  }
  .blue_line {
    box-shadow: 0 0 20px 15px rgba(025, 217, 195, 0.8);
    background: #19d9c3;
  }
  .orange_line {
    box-shadow: 0 0 20px 15px rgba(241, 157, 59, 0.8);
    background: #f19d3b;
  }
  .red_line {
    box-shadow: 0 0 20px 15px rgba(229, 52, 35, 0.8);
    background: #e53423;
  }
  .white_line {
    box-shadow: 0 0 20px 15px rgba(255, 255, 255, 0.8);
    background: #ffffff;
  }
  .pink_line {
    box-shadow: 0 0 20px 15px rgba(187, 38, 135, 0.8);
    background: #bb2687;
  }
  .yellow_line {
    box-shadow: 0 0 20px 15px rgba(255, 255, 0, 0.8);
    background: #ffff00;
  }

.subheader {
    color: white;
    font-weight: 300;
    font-size: 45px;
    text-align: center;
    line-height: 45px;
    margin-bottom: 30px;
}

.promo {
    min-height: 600px;
	background: url("../img/promo_bg.webp") center center/cover no-repeat;
	padding: 10px 130px 50px 130px;
    position: relative;
}
.promo_header {
	color: #ffffff;
	font-size: 90px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	line-height: 78px;
    margin-top: 80px;
	margin-bottom: 0;
}
.promo_subheader {
	color: #ffffff;
	font-weight: 300;
	font-size: 28px;
	text-align: center;
	line-height: 34px;
	margin-bottom: 0;
	margin-top: 39px;
}
.promo_btn {
    position: absolute;
    top: 480px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: center;
}  
.promo_href {
    display: block;
    font-size: 20px;
    color: white;
}
.promo_button {
    position: relative;
    height: 63px;
    width: 259px;
    border: none;
    outline: none;
    color: white;
    background: black;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
}
  .promo_button:before {
    position: absolute;
    content: '';
    top: -2px;
    left: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 50px;
    z-index: -1;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    background-size: 400%;
    transition: opacity .3s ease-in-out;
    animation: animate 20s linear infinite;
    opacity: 1;
}
  .promo_button:hover:active {
    background: none;
}
.header_top {
    display: flex;
    justify-content: space-between;
}
.header {
    display: flex;
    justify-content: space-between;
}
a.logo {
    display: block;
    width: 70px;
    height: 50px;
    transform: translateY(10%);
}
.logo_img {
    width: 100%;
    height: 100%;
}
.menu {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.menu_item {
    text-align: center;
    font-size: 16px;
    line-height: 55px;
}
.menu_link {
    text-decoration: none;
    color: white;
}
.contacts {
    margin-top: 15px;
}
.phone {
    color: white;
    font-size: 21px;
}
.email {
    color: white;
    font-size: 21px;
}
.social {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    
}

/* Мобильное меню */
.header_mobile {
    display: flex;
    justify-content: space-between;
}
.promo_mobile {
    display: none;
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #000000;
    box-shadow: 0 0 15px 10px rgba(255, 255, 0, 0.8);
}
.logo_img {	
	width: 78px;
	height: 50px;
}
.logo_img_ul {
	display: none;
	width: 78px;
	height: 50px;
}
.hamburger {
	display: none;
}
.menu_item_mobile {
    text-align: center;
    font-size: 16px;
    line-height: 55px;
}
.menu_link_mobile {
	margin: 0;
	color: #ffffff;
	font-size: 15px;
	font-weight: 300;
	text-decoration: none;
}
/* Мобильное меню */

.about {
    padding: 50px 100px;
}
.about_subheader {
    color: #ffffff;
	font-weight: 300;
	text-align: center;
    margin-bottom: 30px;
}
.about_descr {
    color: #ffffff;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	line-height: 35px;
	margin-top: 50px;
}

.how {
    padding: 50px 100px;
}
.how_subheader {
    color: #ffffff;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px;
}
.how_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.how_block {
    position: relative;
    border-radius: 5%;
    margin: 30px;
    width: 300px;
    min-height: 300px;
    padding: 5px 10px 5px 10px;
}
.upper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 52px;
    width:50%;
    height: 5px;
    border-radius: 30px;
    background-color:rgba(025, 217, 195, 0.8);
    box-shadow: 0 0 20px 5px rgba(025, 217, 195, 0.8);
}
.how_block.is-visible {
    box-shadow: 0 0 20px 15px rgba(025, 217, 195, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.how_block_img {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.how_block_header {
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    font-weight: 300;
}
.how_block_descr {
    color: #ffffff;
    margin-top: 38px;
    font-weight: 300;
}

.gallery {
    padding: 50px 100px;
}
.gallery_subheader {
    color: #ffffff;
	font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.wrap {
    max-width: 1140px;
    margin: 100px auto;
}
.wedding {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 0px 60px;
}
.wedding .slick-arrow{
    position: absolute;
    top: 50%;
    margin: -15px 0 0 0; 
    z-index: 2; 
    font-size: 0; 
    width: 30px; 
    height: 30px; 
}
.wedding .slick-arrow.slick-prev{
    left: 0; 
    background: url('../icons/left.png') 0 0 / 100% no-repeat;
    border: none;
    cursor: pointer;
}
.wedding .slick-arrow.slick-next{
    right: 0; 
    background: url('../icons/right.png') 0 0 / 100% no-repeat;
    border: none;
    cursor: pointer;
}
.wedding .slick-dots {
    text-align: center;
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}
.wedding .slick-dots button {
    background: #ffffff;
    border: none;
    border-radius: 50%;
    height: 15px;
    width: 15px; 
    margin: 5px; 
    outline: none; 
    font-size: 0;
}
.slick-dots li[class="slick-active"] button {
    background: gray;
}
.wedding__item {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-basis: 340px;
    padding: 20px;
}
.wedding__item img {
    width: 100%;
    
}

.colors {
    padding: 50px;
}
.colors_subheader {
    color: white;
    font-weight: 300;
    text-align: center;
    margin-bottom: 30px;
}
.colors_blocks {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
}
.colors_block {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 25px;
}
.colors_description {
    position: absolute;
    left: 10px;
    bottom:5px;
    color:white;
    font-size: 14px;
}
.colors_block_1 {
    background: url("../img/Cold.webp") center center/cover no-repeat;    
}
.colors_block_1.is-visible {
    box-shadow: 0 0 20px 15px rgba(255, 255, 255, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_2 {
    background: url("../img/warm.webp") center center/cover no-repeat;    
}
.colors_block_2.is-visible {
    box-shadow: 0 0 20px 15px rgba(248, 240, 216, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_3 {
    background: url("../img/blue.webp") center center/cover no-repeat;    
}
.colors_block_3.is-visible {
    box-shadow: 0 0 20px 15px rgba(107, 229, 251, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_4 {
    background: url("../img/blue_br.webp") center center/cover no-repeat;    
}
.colors_block_4.is-visible {
    box-shadow: 0 0 20px 15px rgba(51, 14, 218, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_5 {
    background: url("../img/green.webp") center center/cover no-repeat;    
}
.colors_block_5.is-visible {
    box-shadow: 0 0 20px 15px rgba(111, 217, 125, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_6 {
    background: url("../img/orange.webp") center center/cover no-repeat;    
}
.colors_block_6.is-visible {
    box-shadow: 0 0 20px 15px rgba(241, 157, 59, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_7 {
    background: url("../img/pink.webp") center center/cover no-repeat;    
}
.colors_block_7.is-visible {
    box-shadow: 0 0 20px 15px rgba(187, 38, 135, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_8 {
    background: url("../img/red.webp") center center/cover no-repeat;    
}
.colors_block_8.is-visible {
    box-shadow: 0 0 20px 15px rgba(229, 52, 35, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_9 {
    background: url("../img/violet.webp") center center/cover no-repeat;    
}
.colors_block_9.is-visible {
    box-shadow: 0 0 20px 15px rgba(179, 41, 217, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.colors_block_10 {
    background: url("../img/yellow.webp") center center/cover no-repeat;    
}
.colors_block_10.is-visible {
    box-shadow: 0 0 20px 15px rgba(255, 255, 0, 0.8);
    transition: box-shadow 1s ease-in-out;
}

.advantages {
    padding: 50px;
}
.advantages_list {
    position: relative;
    width: 80%; 
    margin: 0 auto;
    margin-top: 50px;
}
.advantages_item {
    color: #ffffff;
    font-weight: 300;
    font-size: 16px;
    list-style-type: none;
    margin-bottom: 15px;
}
.advantages_item:last-child {
    margin-bottom: 0;
}
.advantages_item:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../icons/ok_green_icon.svg") center center/cover no-repeat;
    left:-40px;   
}

.price {
    padding: 50px 100px;
}
.price_descr {
    color: #ffffff;
	font-weight: 300;
	font-size: 25px;
	text-align: center;
	line-height: 35px;
	margin-top: 50px;
}


.delivery {
    padding: 50px 100px;
}
.delivery_block_icon {
    display: inline-block;
    transform: translateY(23%);
    margin-right: 20px;
    
}
.delivery_block_subheader {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 25px;
    margin-bottom: 35px;
}
.delivery_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.delivery_block {
    border-radius: 5%;
    margin: 30px;
    width: 320px;
    min-height: 250px;
    padding: 20px 10px 20px 50px ;
}
.delivery_block.is-visible {
    box-shadow: 0 0 20px 15px rgba(241, 157, 59, 0.8);
    transition: box-shadow 1s ease-in-out;
}
.delivery_list {
    list-style-type: none;
    position: relative; 
}
.delivery-item {
    color: white;
    font-size: 16px;
    margin-bottom: 15px;
}
.delivery-item:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../icons/ok_icon.png") center center/cover no-repeat;
    left:-40px;   
}

footer{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_contacts a {
    margin: 15px;
    font-size: 28px;
}
.footer_social,
.footer_menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}
.footer_social li,
.footer_menu li{
    list-style: none;
}
.footer_social li a {
    margin: 0 10px;
    display: inline-block;
} 
.footer_menu li a {
    font-size: 1.2em;
    color: #fff;
    opacity: 0.75;
    margin: 0 15px;
    text-decoration: none;
    display: inline-block;
}
.footer_menu li a:hover {
    opacity: 1;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    font-size: 1.1em;
}


@keyframes animate {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
@keyframes background {
    50% {
       background: rgba(0, 0, 0, 0.1);
      box-shadow: 0 -200px 100px -100px rgba(0, 0, 0, 0.1) inset; 
    }
}
